/* 初始化样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
/* 因为我们这个是后台管理系统，因此高度固定死 不需要下滑 高度就是100%或者100vh */
html,body,#app{
  height: 100%;
  min-width: 1200px;
}
/* 表格中有些样式是全局样式 想覆盖要写到全局css中 每个组件都加了scoped因此全局样式会不生效 */
body .el-table-filter  .el-table-filter__bottom {
  margin-top: 20px;
}
body .el-table-filter   .el-checkbox__label{
  padding-right: 15px;
}
.el-card {
  /* 组件权重高 想覆盖要增加权重 */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)!important;
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-table .el-table__expanded-cell {
  padding: 20px 40px;
}
.el-cascader-panel {
  height: 260px;
}