@font-face {
  font-family: "iconfont"; /* Project id 3344942 */
  src: url('iconfont.woff2?t=1650442135868') format('woff2'),
       url('iconfont.woff?t=1650442135868') format('woff'),
       url('iconfont.ttf?t=1650442135868') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuoduiqi:before {
  content: "\e639";
}

.icon-rili:before {
  content: "\e63e";
}

.icon-renyuanxinxi:before {
  content: "\e648";
}

.icon-zhuanfa:before {
  content: "\e64a";
}

.icon-zhexian:before {
  content: "\e64d";
}

.icon-bingtu:before {
  content: "\e64e";
}

.icon-zhuzhuangtu:before {
  content: "\e64f";
}

.icon-guanbi:before {
  content: "\e650";
}

.icon-sanjiaoxing_shang:before {
  content: "\e654";
}

.icon-sanjiaoxing_shang-copy:before {
  content: "\e655";
}

.icon-caidan:before {
  content: "\e658";
}

.icon-xiangmu:before {
  content: "\e65b";
}

.icon-shebeiguanli:before {
  content: "\e65d";
}

.icon-caigouzhongxin:before {
  content: "\e65e";
}

.icon-zuzhijiagou:before {
  content: "\e65f";
}

.icon-tongguo:before {
  content: "\e660";
}

.icon-jujue:before {
  content: "\e661";
}

.icon-celveguanli:before {
  content: "\e61c";
}

.icon-daijinquan:before {
  content: "\e61d";
}

.icon-dianpushezhi:before {
  content: "\e61e";
}

.icon-dengluzhanghaoguanli:before {
  content: "\e61f";
}

.icon-guanggaoshezhi:before {
  content: "\e620";
}

.icon-huiyuantongji:before {
  content: "\e621";
}

.icon-dingdanliebiao:before {
  content: "\e622";
}

.icon-kehuguanli:before {
  content: "\e623";
}

.icon-jiaoyitongji:before {
  content: "\e624";
}

.icon-shouye:before {
  content: "\e625";
}

.icon-tianjiashangpin:before {
  content: "\e626";
}

.icon-jifen:before {
  content: "\e627";
}

.icon-huodongliebiao:before {
  content: "\e628";
}

.icon-gerenxinxiguanli:before {
  content: "\e629";
}

.icon-qiyeshezhi:before {
  content: "\e62a";
}

.icon-shangpinliebiao:before {
  content: "\e62b";
}

.icon-shenpiguanli:before {
  content: "\e62c";
}

.icon-zhuanyuanguanli:before {
  content: "\e62d";
}

.icon-a-tab_icon_home2x:before {
  content: "\e616";
}

.icon-a-my_icon_video2x:before {
  content: "\e617";
}

.icon-a-tab_icon_my2x:before {
  content: "\e618";
}

.icon-a-tab_icon_news2x:before {
  content: "\e619";
}

.icon-a-top_icon_search2x:before {
  content: "\e61a";
}

.icon-a-top_icon_delete2x:before {
  content: "\e61b";
}

.icon-a-land_icon_city2x:before {
  content: "\e608";
}

.icon-a-land_icon_password2x:before {
  content: "\e609";
}

.icon-a-land_icon_identity2x:before {
  content: "\e60a";
}

.icon-a-land_icon_height2x:before {
  content: "\e60b";
}

.icon-a-land_icon_Invitation_code2x:before {
  content: "\e60c";
}

.icon-a-land_icon_weight2x:before {
  content: "\e60d";
}

.icon-a-land_icon_upload2x:before {
  content: "\e60e";
}

.icon-a-land_icon_wechat2x:before {
  content: "\e60f";
}

.icon-a-my_icon_asee2x:before {
  content: "\e610";
}

.icon-a-land_icon_verification_code2x:before {
  content: "\e611";
}

.icon-a-my_icon_authentication2x:before {
  content: "\e612";
}

.icon-a-my_icon_comment2x:before {
  content: "\e613";
}

.icon-a-my_icon_dynamic2x:before {
  content: "\e614";
}

.icon-a-my_icon_blacklist2x:before {
  content: "\e615";
}

